yaml
        backend:
          name: github
          repo: your-username/your-repo-name # 【待会儿再改】
          branch: main
        media_folder: "static/images/uploads"
        public_folder: "/images/uploads"
        collections:
          - name: "posts"
            label: "文章"
            folder: "content/posts"
            create: true
            fields:
              - {label: "标题", name: "title", widget: "string"}
              - {label: "发布日期", name: "date", widget: "datetime"}
              - {label: "正文", name: "body", widget: "markdown"}